<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>People</key>
		<string>23</string>
		<key>Caption</key>
		<string>솝트 MT 5조 다 모여:)</string>
		<key>Comment</key>
		<string>성청하</string>
		<key>Photo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>People</key>
		<string>20</string>
		<key>Caption</key>
		<string>Little and Large</string>
		<key>Comment</key>
		<string>박소현</string>
		<key>Photo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>People</key>
		<string>25</string>
		<key>Caption</key>
		<string>요기요 인턴을 마칩니다</string>
		<key>Comment</key>
		<string>김정환</string>
		<key>Photo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>People</key>
		<string>21</string>
		<key>Caption</key>
		<string>야구부 전국대회 우승!!</string>
		<key>Comment</key>
		<string>정준하</string>
		<key>Photo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>People</key>
		<string>27</string>
		<key>Caption</key>
		<string>버디버디와 제주도 한바퀴</string>
		<key>Comment</key>
		<string>이예슬</string>
		<key>Photo</key>
		<string>5</string>
	</dict>
	<dict>
		<key>People</key>
		<string>22</string>
		<key>Caption</key>
		<string>디팟 세미나 마지막 날</string>
		<key>Comment</key>
		<string>최형윤</string>
		<key>Photo</key>
		<string>6</string>
	</dict>
	<dict>
		<key>People</key>
		<string>25</string>
		<key>Caption</key>
		<string>파리에서 만난 너희</string>
		<key>Comment</key>
		<string>안재은</string>
		<key>Photo</key>
		<string>7</string>
	</dict>
	<dict>
		<key>People</key>
		<string>25</string>
		<key>Caption</key>
		<string>도쿄대학교 컨축학과 안녕</string>
		<key>Comment</key>
		<string>안도 디다오</string>
		<key>Photo</key>
		<string>8</string>
	</dict>
	<dict>
		<key>People</key>
		<string>25</string>
		<key>Caption</key>
		<string>SOPT 회장 마지막 날</string>
		<key>Comment</key>
		<string>이재현</string>
		<key>Photo</key>
		<string>9</string>
	</dict>
	<dict>
		<key>People</key>
		<string>25</string>
		<key>Caption</key>
		<string>솝커톤 롤링포유 7조 친구들</string>
		<key>Comment</key>
		<string>유동현</string>
		<key>Photo</key>
		<string>10</string>
	</dict>
</array>
</plist>
